
 <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">EatdaBurger</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Burger List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
          </ul>
        </div>
      </nav>

<script>
function devourBurger(b) {
	$("#burger_"+b).addClass("devoured");
	$("#button_"+b).remove();
	$("#devoured").append($("#burger_"+b));
	$.post( "/burger/eat/"+b, function( data ) {
	  $( ".result" ).html( data );
	});
}
</script>
      {{!-- HEADER  --}}
    <h1 class='header'>BurgersNow</h1>

    <div class="container">
     <div class='leftSide'>
{{!-- SECTION 1 INPUT  --}}
<form id="formAddBurger" method="post" action="/burger/add">
<h1>Submit Burger</h1>
	<input type="text" name="burger_name" />
	<input type="submit" value="Add Burger!" />
</form>

           
{{!-- SECTION 2 --}}
        <div class='middle'>
          <div id="burgers" class="burgers">
          	<h3>Live Orders!</h3>
            	{{#each burgers}}
	            	{{#unless devoured}}
	            		<div id='burger_{{id}}' class='burger'>
		            		<button id='button_{{id}}' onclick='devourBurger({{id}});'>Eat Me!</button>
		            		<label id='label_{{id}}'>{{burger_name}}</label>
			            </div>
	            	{{/unless}}
            	{{/each}}
          </div>



             {{!-- THIRD SECTION --}}
        <div class='right'> 
            <h1>Devoured!</h1>
        </div>
